/*Patrick Stewart 09/21/23*/
body
{
    background-color: black;
    color: greenyellow;
    font-size: 20px;
}
b
{
    color: aqua;
}
i
{
    color: pink;
}
a:link
{
   color: turquoise; 
}
a:visited
{
    color: coral;
}
a:hover
{
    color: palevioletred;
}
a:active
{
    color: white;
}
