@font-face {
    font-family: 'Anton';
    src: url('anton-regular-webfont.woff') format('woff'),
         url('anton-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

:root 
{
    --fontSize: 1.25em;
    --fontSizeHeading: calc(var(
     --fontSize) * 3 );
}

h1
{
    font-family: 'Anton', sans-serif;;
    font-size: var(--fontSizeHeading);
}

body
{
    font-size: var(--fontSize);
}
