/* css used to target all portfolio web pages */
/* applies to all web pages to promote consistency       */
    body {
	background: linear-gradient(to top right, #FFFF00, #FF6600, #006699, #3333FF);
        color: #333333;
        font-size: 1.25rem;
    }

