/* css used to target all portfolio web pages */
/* applies to all web pages to promote consistency       */
    body {
        color: #333333;
        font-size: 1.25rem;
    }
.grad
{
	background: linear-gradient(to top right, #FFFF00, #FF6600, #006699, #3333FF);
}
.grad1
{
	background: linear-gradient(to top right, #2FFFFF, #FDFFFF, #B16699, #000000)
}
.grad2
{
	background: linear-gradient(to top right, #0AD3FF, #7CB518, #EF8354, #6369D1);
}
.grad3
{
	background: linear-gradient(to top right, #B3DEE2, #9E0059, #5EF38C, #FF4D7C);
}

